.main
{
    margin-top: 100px;
}

.logi-img
{
    height: 200px;
}


.card
{
    height: 400px;
}
.clay-img
{
    height: 200px;
}

.card-foot
{
    padding-bottom: 20px;
    padding-left: 30px;
}

.like
{
    cursor: pointer;
    fill :none;
    stroke: black;
    stroke-width: 2px;
}

.liked
{
    fill: black;
}